<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.levy.dao.mapper.UserMapper">

    <select id="getAllSite" resultType="com.levy.entity.User">
        SELECT * FROM users
    </select>

    <select id="getSiteBySite" resultType="com.levy.entity.User">
        SELECT * FROM users where id=#{id}
    </select>
</mapper>